* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar {
    list-style: none;
    /* padding: ; */
    display: flex;
    gap: 50px;
    background-color: #ff4b44;
    /* margin: 70px; */
    height: 60px;
    text-align: center;
    justify-content: center;
    /* align-content: center; */
    align-items: center;
}

.nav-bar li {
    color: white;
    cursor: pointer;
    font-size: 18px;
    animation: 0.3s;
}

.nav-bar li:hover {
    color: yellow;
}

nav {
    /* padding: 70px; */
    
}

footer{
    background-color: blueviolet;
    text-align: center;
    position: fixed;
    padding: 15px 0;
    color: aliceblue;
    width: 100%;
    bottom: 0;

}
