html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main-content {
  flex: 1; /* This pushes footer to bottom */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.compare-box {
  margin-top: 20px;
  width: 95%;
  max-width: 900px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  border: 2px solid #ccc;
}
.compare-table {
  width: 100%;
  border-collapse: collapse;
}
.compare-table th,
.compare-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.better {
  background: #c7f8c7;
  font-weight: bold;
}
.player-photo {
  width: 90px;
  border-radius: 50%;
}
#header {
  width: 100%;
  background-color: #fd7e14;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
#header h1 {
  margin-left: 10%;
  color: #f4f4f4;
}
.footer {
  width: 100%;
  background-color: #fd7e14;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.footer p {
  color: #f4f4f4;
  text-align: center;
  align-items: center;
}
