html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial;
  background: #fafafa;
}

#main-content {
  flex: 1; /* pushes footer down */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#players {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  width: 230px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  font-family: Arial;
}
.card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
#header {
  width: 100%;
  background-color: #fd7e14;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
#header h1 {
  margin-left: 10%;
  color: #f4f4f4;
}
.footer {
  width: 100%;
  background-color: #fd7e14;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.footer p {
  color: #f4f4f4;
  text-align: center;
  align-items: center;
}
